x-app: &default
  build:
    context: .
    dockerfile: Dockerfile.dev
  env_file:
    - .env
    - .db.env
    - .web-rails.local.env
  logging:
    driver: "json-file"
  volumes:
    - ~/.ssh:/home/rails/.ssh
    - .:/app
    - bundled_gems_web_rails:/app/vendor/gems
  depends_on:
    - db
  stdin_open: true
  tty: true

services:
  web-rails:
    <<: *default
    ports:
      - "4000:3000"
    depends_on:
      - db
      # - css # comment out unless install tailwindcss
      - js
    command: "bash -c 'rm -f /app/tmp/pids/server.pid && bin/rails server -p 3000 -b 0.0.0.0'"
  # css:
  #   <<: *default
  #   command: "bin/rails tailwindcss:watch" # comment out unless install tailwindcss
  js:
    <<: *default
    command: "yarn build --watch"
  # sidekiq:
  #   <<: *default
  #   command: "bundle exec sidekiq -q low -q default -c 25" # comment out unless install sidekiq
  # redis:
  #   image: redis:8.4.0 # comment out unless install sidekiq
  db:
    image: postgres:18.1
    restart: always
    logging:
      driver: "json-file"
    volumes:
      - db:/var/lib/postgresql
    env_file:
      - .db.env
  db-admin:
    image: adminer
    restart: always
    ports:
      - "4001:8080"
    logging:
      driver: "json-file"
    environment:
      ADMINER_DESIGN: pepa-linha
    depends_on:
      - db
volumes:
  db: {}
  bundled_gems_web_rails: {}
